.about {
  background: url("../../images/mobile-swoosh-small.png ") no-repeat, url("../../images/mobile-swoosh-bottom.png ") no-repeat, url("../../images/weddingpattern.png ") repeat ;
  background-size: contain, contain, auto;
  background-position: top, bottom, center;
  padding: 1.5rem 0 1.5rem;
  h2,h3 {
    color: $color_ligher-green;
  }
}
.about-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include tablet {
    justify-content: space-around;
  }
}
.about-image,
.about-blurb {
  width: 290px;
  height: 290px;
  box-sizing: border-box;
  @include tablet {
    width: 360px;
    height: 360px;
  }
}
.about-image {
  border: 10px solid $color_yellow;
  border-radius: 100%;
  margin-bottom: 2rem;
  img {
    border-radius: 100%;
    width: 100%;
    height: auto;
  }
}
.about-blurb {
  border: 10px solid $color_ligher-green;
  background-color: $color_yellow;
  border-radius: 100%;
  font-size: .8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .about-blurb-wrap {
    width: 190px;
    height: 190px;
    @include tablet {
      width: 260px;
      height: auto;
      max-height: 260px;
    }
  }
}
