.about {
  padding: 0;
  h2,h3 {
    color: $color_ligher-green;
  }
}
.about-heading {
  padding: 1.5rem 0 .25rem;
  background-color: $color_bg-green;
}
.about-content {
  background:
    url("../../images/mobile-swoosh-top.png ") no-repeat,
    url("../../images/mobile-swoosh-bottom.png ") no-repeat,
    url("../../images/weddingpattern.png ") repeat;
  background-size: contain, contain, auto;
  background-position: top, bottom, center;
  @include tablet {
    background:
      url("../../images/background-swoosh-small-top.png ") no-repeat,
      url("../../images/background-swoosh-small-bottom.png ") no-repeat,
      url("../../images/weddingpattern.png ") repeat;
    background-size: contain, contain, auto;
    background-position: top, bottom, center;
  }
}
.about-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include tablet {
    justify-content: space-around;
  }
}
.about-image,
.about-blurb {
  width: 290px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  @include tablet {
    width: 360px;
  }
  @include desktop {
    width: 425px;
  }
}
.about-image {
  border: 10px solid $color_yellow;
  object-fit: cover;
  height: 290px;
  img {
    width: 100%;
    height: auto;
  }
  @include tablet {
    height: 360px;
  }
  @include desktop {
    height: 425px;
  }
}

.about-blurb {
  min-height: 290px;
  border: 10px solid $color_ligher-green;
  background-color: $color_yellow;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  @include tablet {
    min-height: 360px;
  }
  @include desktop {
    min-height: 425px;
  }
}
