.contact {
  width: 100vw;
  background: url("../../images/mobile-swoosh-top.png ") no-repeat, url("../../images/weddingpattern.png ") repeat;
  background-size: contain, auto;
  @include tablet {
    background: url("../../images/background-swoosh-small-top.png ") no-repeat, url("../../images/weddingpattern.png ") repeat;
    background-size: contain, auto;
  }
  h2 {
    color: $color_bg-green;
  }
  h3 {
    color: $color_bg-green;
  }
  a {
    color: $color_green;
    font-family: $font_header;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      width: 100%;
      text-align: center;
    }
    .contact-left, .contact-right {
      p {
        text-align: left;
        margin-bottom: 0;
      }
    }
    .wpcf7-response-output {
      margin: 0;
    }
  }
  .ajax-loader {
    margin: 0 auto !important;
    display: block !important;
  }
  @include desktop {
    form {
      .contact-left {
        padding-right: 1rem;
        p {
          margin-bottom: 1.5rem;
        }
      }
      .contact-right {
        padding-left: 1rem;
        textarea {
          min-height: 280px;
        }
      }
    }
  }
}
