.contact {
  width: 100vw;
  background: url("../../images/mobile-swoosh-top.png ") no-repeat, url("../../images/weddingpattern.png ") repeat;
  background-size: contain, auto;
  @include tablet {
    background: url("../../images/background-swoosh-small-top.png ") no-repeat, url("../../images/weddingpattern.png ") repeat;
    background-size: contain, auto;
  }
  .site-info {
    padding: 1.5rem;
  }
  h2 {
    color: $color_bg-green;
  }
  h3 {
    color: $color_bg-green;
  }
  a {
    color: $color_green;
    font-family: $font_header;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      width: 100%;
      max-width: 420px;

    }
  }
  .ajax-loader {
    margin: 0 auto !important;
    display: block !important;
  }
}
