footer {
  width: 100vw;
  background: url("../../images/mobile-swoosh-top.png ") no-repeat, url("../../images/weddingpattern.png ") repeat;
  background-size: contain, auto;
  .site-info {
    padding: 1.5rem;
  }
  h2 {
    color: $color_bg-green;
  }
  h3 {
    color: $color_bg-green;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ajax-loader {
    margin: 0 auto !important;
    display: block !important;
  }
}
