/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	width: 272px;
	height: 45px;
	background-color: $color_yellow;
	border-radius: 14px;
	border: 0;
	font-family: $font_header;
	&:hover {
	}

	&:active,
	&:focus {
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	max-width: 272px;
	height: 45px;
	background-color: $color_bg-green;
	border: 1px solid $color_light-grey;
	border-radius: 14px;
}

textarea {
	max-width: 272px;
	min-height: 200px;
	background-color: $color_bg-green;
	border: 1px solid $color_light-grey;
	border-radius: 14px;
}
