/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	box-sizing:border-box;
	margin-bottom: .5rem;
	width: 100%;
	max-width: 370px;
	height: 45px;
	background-color: $color_yellow;
	border-radius: 14px;
	border: 0;
	font-family: $font_header;
	&:hover {
	}

	&:active,
	&:focus {
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color_light-grey;
	border: 1px solid $color_light-grey;
	border-radius: 3px;
	padding: 1rem;
	margin-bottom: 1.5rem;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	width: 100%;
	max-width: 420px;
	height: 45px;
	background-color: $color_bg-green;
	color: $color_light-grey;
	border: 1px solid $color_light-grey;
	border-radius: 14px;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

textarea {
	width: 100%;
	max-width: 420px;
	min-height: 200px;
	background-color: $color_bg-green;
	border: 1px solid $color_light-grey;
	color: $color_light-grey;
	border-radius: 14px;
	margin-bottom: 1.5rem;
}
