/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.hero {
  background: linear-gradient(180deg, rgba(101, 111, 120, 0), rgba(101, 111, 120, 1)), url("../../images/hero-banner1.jpg ") no-repeat;
  background-size: cover;
  height: 100vh;
}
