/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.hero {
  background: linear-gradient(180deg, rgba(101, 111, 120, 0), rgba(101, 111, 120, 1)), url("../../images/hero-banner-mobile.jpg ") no-repeat;
  background-size: cover;
  height: 100vh;
  @include tablet {
    background: linear-gradient(180deg, rgba(101, 111, 120, 0), rgba(101, 111, 120, 1)), url("../../images/hero-banner-tablet.jpg ") no-repeat;
    background-size: cover;
  }
  @include desktop {
    background: linear-gradient(180deg, rgba(101, 111, 120, 0), rgba(101, 111, 120, 1)), url("../../images/hero-banner.jpg ") no-repeat;
    background-size: cover;
  }
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h2 {
      font-size: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }
}
