/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
	transition: all 0.5s ease;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		opacity: .6;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Logo */

.site-header {
	position: fixed;
	width: 100%;
	z-index: 2;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: .5rem 1.5rem;
		position: relative;
		height: 122px;
		@include tablet {
			height: 152px;
		}
	}
	.site-branding {
		display: block;
		height: 100%;
		img {
			max-height: 100%;
			width: auto;
		}
	}
}

.hero-display {
	.container {
		justify-content: flex-end;
		@include desktop {
			justify-content: center;
		}
	}
	.site-branding {
		display: none;
	}
}

/* Menus */

.main-navigation {
	ul {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: $color_black-overlay;
		padding: 1.5rem;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		font-size: 1rem;
		margin-bottom: .5rem;
		display: block;
		text-align: right;
		position: relative;
		@include desktop {
			font-size: 1.3rem;
			display: inline-block;
			margin-right: 1rem;
			margin-bottom: 0;
			&:last-child {
				margin: 0;
			}
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $color_yellow;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/*--------------------------------------------------------------
# Small Menu
--------------------------------------------------------------*/

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	color: $color_yellow;
	font-size: 2.5rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	border: 0;
	border-radius: 3px;
	line-height: 1;
	padding: 0;
	margin: 0;
	background-color: transparent;
	width: 37px;
	height: 40px;
}

@include desktop {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block !important;
		background-color: transparent;
		position: inherit;
		padding: 0;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
