.testimonials {
  padding: 1.5rem 0 3rem;
  ul {
    .carousel-cell {
      width: 100%;
      padding: 0 1.5rem 0;
    }
  }
  .testimonial-pic {
    width: 210px;
    height: 210px;
    border: 10px solid $color_ligher-green;
    border-radius: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    img {
      height: 210px;
      width: auto;
      object-fit: cover;
    }
  }
  .testimonial-text {
    width: 100%;
    min-height: 200px;
    background-color: $color_dark-green;
    border: 8px solid #E5E15E;
    padding: 1rem;
    font-size: .8rem;
  }
}
