// Structure

$base__space-unit: 1.5em;
$tablet-width: 600px;
$desktop-width: 1024px;

// Colors

$color__background-body: #fff;
$color__text-main: #55626D;

$color_yellow: #E0DA46;
$color_bg-green: #656F78;
$color_dark-green: #5FAEA1;
$color_green: #6CC8B9;
$color_light-green: #7AE0D0;
$color_ligher-green: #95F8E8;
$color_black-overlay: rgba(10,10,10,0.27);
$color_white-overlay: rgba(255,255,255,0.27);
$color_grey: #6D6D6D;
$color_light-grey: #E6E6E6;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: 'Open Sans', sans-serif;
$font_header: 'Martel', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
